.upload-show {
  &__wrapper {
    background-color: $white;
    max-width: 60em;
  }

  &__content {
    padding: .5em 2em 2.5em;
  }

  &__title {
    font-size: 3em;
    margin-bottom: .25em;
  }

  &__meta {
    list-style: none;
    padding: 0;
  }
}