.site-header {
  background: $white url('/images/ui/bg-diag-grey.png') top left;
  background-size: 6px;
  height: auto;
  left: 0;
  position: fixed;
  top: 0;
  width: 4em;

  @media(max-width: $break-m) {
    width: 100%;
  }
}

.logo-block {
  background: $grey-dark url("/images/brand/logo-main--large.png") no-repeat center;
  background-size: 1.5em;
  display: block;
  height: 4em;

  @media(max-width: $break-m) {
    display: inline-block;
    width: 4em;
  }
}

.site-navigation {
  display: inline-block;
}

.nav-list {
  padding: 0;
  margin: 0;

  &__item {
    background: $white url('/images/ui/bg-diag-grey.png') top left;
    background-size: 6px;
    display: block;
    font-weight: 400;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;

    img {
      display: block;
    }

    &:hover {
      background-color: $orange;
    }

    @media(max-width: $break-m) {
      display: inline-block;
      width: 4em;
    }
  }

  &__link {
    display: block;
    font-weight: 600;
    padding: 1em;
    text-transform: uppercase;
  }
}

// .login-block {
//   background: $orange url('/images/ui/bg-diag-grey.png') top left;
//   background-size: 6px;
//   color: $cream;
//   padding: 1em 2em 3em;
//   text-align: left;

//   &--header {
//     bottom: 0;
//     right: 0;
//     position: fixed;
//   }

//   &__action {
//     &--logout, &--login {
//       background-color: $grey-dark;
//       bottom: 0;
//       display: block;
//       font-weight: 600;
//       left: 0;
//       margin-top: .5em;
//       padding: .5em 2em;
//       position: absolute;
//       right: 0;
//       text-transform: uppercase;
//     }
//   }
// }
