.ui-button {
  background: $orange;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;

  &--new,
  &--save,
  &--back {
    font-size: 1.25em;
    margin: 0 0 .5em;
  }

  &--new,
  &--save {
    background-color: $green;
  }

  &--show {
    background-color: $orange;
  }

  &--edit {
    background-color: $blue;
  }

  &--delete {
    background-color: $red;
  }
}